@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:600');
body{
    /*background-color: #757575;*/
    font-family: 'Lato', sans-serif;

}
h3{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
p{
        line-height: 24px;
}
.p_first, .p_second{
    font-size: 40px;
}
.p_second{
    padding-top: 8px;
}
h1{
    text-align: center;
    padding-top: 18%;
    color: rgba(255, 153, 0, 1);
}

/****************************NAV BAR************************************/

nav {
    /*position: fixed;*/
    width: 100%;
    top: 0;
    min-height: 50px;
    height: 70px;
    text-align: center;
    background-color: transparent;
    transition: .5s;
    color: #757575;
}

nav li {
    display: inline-block;
    padding: 24px 10px;
}

nav li a {
    color: #757575;
    text-transform: uppercase;
    font-weight: bolder;
}

.toggle-nav {
    display: none;
    color: #757575;
}

a:hover,
a:focus {
    color: rgba(255, 153, 0, 1);
}

.nav-mobile style {
    display: block;
}

nav.scrolling {
    background-color: rgba(61, 54, 45);
    color: rgba(102, 88, 718);
    opacity: 2;
    transition: .5s;
    z-index: 10;
}


/*********NAV BAR END**********/
.first-p {
    width: 100%;
    margin-top: 18%;
    font-size: 2.9rem;
    text-align: center;
    text-align: left;
    font-weight: 600;
    position: relative;
}

.second-p {
    font-size: 1em;
    font-weight: 400;
    margin-top: 5%;
    margin-left: 20%;
    float:important: left;
}
.first {
    height: 100%;
    color: rgba(254, 255, 253,1);
    background-image: linear-gradient( rgba(255, 153, 0, 0.2), rgba(255, 153, 0, 0.2)), url(../img/YouthfulEric.jpg);
    background-image: -moz-linear-gradient(rgba(255, 153, 0, 0.2), rgba(255, 153, 0, 0.2)), url(../img/YouthfulEric.jpg);
    background-image: -o-linear-gradient(rgba(255, 153, 0, 0.2), rgba(255, 153, 0, 0.2)), url(../img/YouthfulEric.jpg);
    background-image: -ms-linear-gradient(rgba(255, 153, 0, 0.2), rgba(255, 153, 0, 0.2)), url(../img/YouthfulEric.jpg);
    background-image: -webkit-linear-gradient(rgba(255, 153, 0, 0.2), rgba(255, 153, 0, 0.2)), url(../img/YouthfulEric.jpg);
    background-size: cover;
    background-position: 
    width: 100%;
    background-position: 0% 20%;
    position: relative;
}
.life, .promotion, .story{
    padding-top: 72px;
    color: rgba(255, 153, 0, 1);
    font-size: 15px;
}
.promotion{
    padding-left: 8px;
    /*color: rgba(255, 153, 0, 1);*/
}
h6{
    text-align: right;
}
.story{
        border: 1px solid #757575;
        margin-bottom: 8px;
}
.small-11.small-centered.last{
    float: none;
}